html{
    font-family: 'Times New Roman', Times, serif;
    background-color: #faf8fa;
}

#main_container{
    margin: 0 auto;
    max-width: 50em;
}

#content{
    border: 1px solid gray;
    padding: 1em;
    border-radius: 0.3em;
    box-shadow: 1px 1px 1px gray;
    background-color: white;
}

#body_wrapper, #input {
    font-family: monaco;
    font-size: 16px;
    font-weight: bold;
}

#current_line_wrapper {
    position: relative;
}

#input_label {
    position: absolute;
    bottom: 0;
    left: -0.75em;
    color: lightblue;
    padding-bottom: 1px;
}

.lines {
    list-style: none;
    margin: 0;
    padding: 0;
}

.lines>li {
    border: 0px solid transparent;
    border-bottom-width: 1px;
}

.lines>li:empty::after {
    content: "...";
    color: lightgray;
    font-weight: normal;
}

#input {
    cursor: text;
    display: block;
    width: 100%;
    border: 0px solid lightgray;
    border-bottom-width: 1px;
    padding: 0;
}

#input:active, #input:hover, #input:focus{
    border-color: lightblue;
}

.title{
    color: gray;
    font-weight: bold;
    font-size: 32px;
    border: 0px solid lightgray;
    text-align: center;
    width: 90%;
    margin: 0.5em auto 0.5em auto;
    display: block;
    outline: none;
}

.title:empty {
    border-bottom-width: 1px;
}

#ops_pannel>div{
    margin: 0.5em 0;
}

#segments_panel{
    position: relative;
}

#ol_segments{
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid gray;
    background-color: #ecf0f1;
}

#ol_segments li{
    list-style: none;
    display: inline-block;
    height: 20px;
    background-color: #98d09a;
    border: 0px solid #539422;
    border-left-width: 1px;
    border-right-width: 1px;
}

#ol_segments li.current{
    background-color: #539422;
}

#time_position{
    position: absolute;
    width: 0;
    border-left: 1px solid yellow;
    height: 100%;
    top: 0;
}