html{
    font-family: 'Times New Roman', Times, serif;
    background-color: #faf8fa;
}

ul, ol, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.title {
    text-align: center;
}

.songs-wrapper h2 {
    margin-top: 0;
}

.main-container:after {
    clear: both;
}

.songs-wrapper {
    float: left;
    min-width: 10em;
}

.songs-list {
    border: 1px solid gray;
    padding: 0.5em;
}

.songs-list>li {
    border-bottom: 1px dashed lightgray;
    margin: 0.25em 0;
}

.songs-list>.current h3 {
    background-color: lightgreen;
}

.songs-list h3 {
    margin: 0;
    padding: 0;
    cursor: hand;
    font-size: 18px;
}

.player-wrapper {
    width: 50em;
    margin: 0 auto;
}

.segments-panel {
    position: relative;
    border: 1px solid gray;
    background-color: #ecf0f1;
    height: 1.25em;
    border-radius: 0.1em;
}

.progress-bar, .progress-bar>li, .time-position {
    height: 100%;
}

.progress-bar>li {
    position: absolute;
    height: 20px;
    background-color: #98d09a;
    border: 0px solid #539422;
    border-left-width: 1px;
    border-right-width: 1px;
    border-collapse: collapse;
}

.loop .progress-bar>li.current{
    background-color: #539422;
}

.time-position{
    position: absolute;
    width: 0;
    border-left: 1px solid yellow;
    height: 100%;
    top: 0;
}

.lyric-editor {
    margin-top: 1em;
    border: 1px solid gray;
    padding: 1em;
    border-radius: 0.3em;
    box-shadow: 1px 1px 1px gray;
    background-color: white;
}

.lyric-editor {
    font-family: monaco;
    font-size: 16px;
    font-weight: bold;
    outline: none;
}

.lines-viewer>li {
    border: 0px solid transparent;
    border-bottom-width: 1px;
}

.lines-viewer>.normal:empty::after {
    content: "...";
    color: lightgray;
    font-weight: normal;
}

.lines-viewer>.current:empty::after {
    content: "Input Phonetics Here";
    color: lightgray;
    font-weight: normal;
}

.lines-viewer>.current {
    position: relative;
    cursor: text;
    border: 0px solid lightgray;
    border-bottom-width: 1px;
}

.lyric-editor:active .current, .lyric-editor:hover .current, .lyric-editor:focus .current{
    border-color: lightblue;
}

.lines-viewer>.current:before {
    position: absolute;
    bottom: 0;
    left: -0.75em;
    color: lightblue;
    padding-bottom: 1px;
}

.lines-viewer span {
    margin: 0 2px;
}